@keyframes opaci{
  from{
    opacity: 0;
  }
  to{
    opacity: 100%;
  }
}

@keyframes inter{
  from{
    margin-left: 50%;
    z-index: 3;
  }
}

@keyframes nonet{
  from{
    position: absolute;
    right: 0;
    opacity: 0;
  }
}
@keyframes move-in{
  from{
    margin-left: -50%;
  }
  to{
    margin-left: 0; 
  }
}


@keyframes change_background{
  0%{
    background: -webkit-linear-gradient(135deg, black 0%, grey 10%, grey 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  2.5%{
    background: -webkit-linear-gradient(135deg, black 0%, grey 15%, grey 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  5%{
    background: -webkit-linear-gradient(135deg, black 0% , grey 20%, grey 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  7.5%{
    background: -webkit-linear-gradient(135deg, black 0%, grey 30%, grey 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  10%{
    background: -webkit-linear-gradient(135deg, black 0% , grey 40%, grey 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  12.5%{
    background: -webkit-linear-gradient(135deg, black 0% , grey 50%, grey 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  15%{
    background: -webkit-linear-gradient(135deg, black 0% , grey 60%, grey 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  17.5%{
    background: -webkit-linear-gradient(135deg, black 0% , grey 70%, grey 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  20%{
    background: -webkit-linear-gradient(135deg,  black 0% , grey 80%, grey 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  22.5%{
    background: -webkit-linear-gradient(135deg,  black 0% , grey 90%, grey 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  25%{
    background: -webkit-linear-gradient(135deg,  black 0% , grey 100%, grey 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  27.5%{
    background: -webkit-linear-gradient(135deg,  black 0% , black 10%, grey 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  30%{
    background: -webkit-linear-gradient(135deg, grey 0%, black 20%, black 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  32.5%{
    background: -webkit-linear-gradient(135deg, grey 0%, black 30%, black 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  35%{
    background: -webkit-linear-gradient(135deg, grey 0%, black 40%, black 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  37.5%{
    background: -webkit-linear-gradient(135deg, grey 0%, black 50%, black 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  40%{
    background: -webkit-linear-gradient(135deg, grey 0%, black 60%, black 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  42.5%{
    background: -webkit-linear-gradient(135deg, grey 0%, black 70%, black 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  45%{
    background: -webkit-linear-gradient(135deg, grey 0%, black 80%, black 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  47.5%{
    background: -webkit-linear-gradient(135deg, grey 0%, black 90%, black 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  50%{
    background: -webkit-linear-gradient(135deg, grey 0%, black 100%, black 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  52.5%{
    background: -webkit-linear-gradient(135deg, grey 0%, black 90%, black 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  55%{
    background: -webkit-linear-gradient(135deg, grey 0%, black 80%, black 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  57.5%{
    background: -webkit-linear-gradient(135deg, grey 0%, black 70%, black 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  60%{
    background: -webkit-linear-gradient(135deg, grey 0%, black 60%, black 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  62.5%{
    background: -webkit-linear-gradient(135deg, grey 0%, black 50%, black 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  65%{
    background: -webkit-linear-gradient(135deg, grey 0%, black 40%, black 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  67.5%{
    background: -webkit-linear-gradient(135deg, grey 0%, black 30%, black 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  70%{
    background: -webkit-linear-gradient(135deg, grey 0%, black 20%, black 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  72.5%{
    background: -webkit-linear-gradient(135deg,  black 0% , black 10%, grey 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  75%{
    background: -webkit-linear-gradient(135deg,  black 0% , grey 100%, grey 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  77.5%{
    background: -webkit-linear-gradient(135deg,  black 0% , grey 90%, grey 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  80%{
    background: -webkit-linear-gradient(135deg,  black 0% , grey 80%, grey 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  82.5%{
    background: -webkit-linear-gradient(135deg, black 0% , grey 70%, grey 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  85%{
    background: -webkit-linear-gradient(135deg, black 0% , grey 60%, grey 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  87.5%{
    background: -webkit-linear-gradient(135deg, black 0% , grey 50%, grey 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  90%{
    background: -webkit-linear-gradient(135deg, black 0% , grey 40%, grey 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  92.5%{
    background: -webkit-linear-gradient(135deg, black 0%, grey 30%, grey 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  95%{
    background: -webkit-linear-gradient(135deg, black 0% , grey 20%, grey 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  97.5%{
    background: -webkit-linear-gradient(135deg, black 0%, grey 15%, grey 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  100%{
    background: -webkit-linear-gradient(135deg, black 0%, grey 10%, grey 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
}

#block-before{
  height: 12vh;
  display: flex;
  justify-content: center;
  align-items: flex-end;
}

#title-qui-nous-sommes{
  background-image: url(../img/img5-mini.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: whitesmoke;
  text-shadow: 1px 1px 2px black;
}

#section1 p{
  width: 70%;
  font-size: 16px;
  font-family: Montserrat,Arial, Helvetica, sans-serif;
  font-weight: 400;
  margin: 0 auto;
  margin-top: 1em;
  color: #6d071a;
}

#section1{
  margin-top: 20px;
}

h1{
  text-align: center;
  font-size: 58px;
  margin-top: 10px;
  font-family: 'Source Serif Pro', serif;
  font-weight: 600;
}


#section2{
  margin-top: 25px;
}

#section1 h2{
  text-align: center;
  font-size: 40px;
  font-family: 'Source Serif Pro', serif;
}

#section2 h2{

  text-align: center;
  font-size: 40px;
  font-family: 'Source Serif Pro', serif;
  word-spacing: 10px;
  background: -webkit-linear-gradient(135deg, black 0%, grey 10%, grey 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation-duration: 5s;
  animation-name: change_background;
  margin-top: 2em;
  margin-bottom: 3em;
}

.section2-article{
  display: flex;
  flex-direction: row;
    margin-bottom: -4px;
  padding: 0;
  width: 100%;
}
.section2-article div{
  width: 50%;
  margin: 0;
  padding: 0;
}
.section2-article div img{
  width: 100%;
}


.section2-article h3{
  font-family: 'Source Serif Pro', serif;
  margin-top: 10px;
  text-align: center;
  font-size: 30px;
}

.section2-article p{
  font-size: 14px;
  padding-left: 20%;
  padding-right: 20%;
  font-family: Montserrat,Arial, Helvetica, sans-serif;
  margin-top: 10px;
  color: #6d071a;
}

.section2-article p:first-of-type{
  margin-top: 50px;
}

.opaci{
  animation-duration: 5s;
  animation-name: opaci;
}

.inter{
  animation-duration: 3s;
  animation-name: inter;
}

.nonet{
  animation-duration: 10s;
  animation-name: nonet;
}

.move-in{
  animation-duration: 3s;
  animation-name: move-in;
}

@media only screen and (min-width: 1025px){
  #block-before img{
    display: none;
  }
}

@media only screen and (max-width: 1024px){
  h1{
      font-size: 21px;
  }
  #section1 p{
    font-size: 14px;
  }
  #section2 h2, #section1 h2 {
    font-size: 21px;
  }

  .section2-article h3{
     font-size: 18px;
  }

  .section2-article P{
     font-size: 14px;
     padding-left: 5%;
     padding-right: 5%;
  }
  .section2-article p:first-of-type{
    margin-top: 10px;
  }

}

@media only screen and (max-width: 700px){
  .section2-article{
    flex-direction: column;
    margin-bottom: 20px;
  }
  .section2-article div{
    width: 100%;
  }
  .section2-article:last-of-type{
    flex-direction: column-reverse;
  }
   .section2-article P{
     padding-left: 15%;
     padding-right: 15%;
   }
}

@media only screen and (max-width: 600px){
  h1{
      font-size: 16px;
  }

  #section1 p{
    font-size: 13px;
  }
  #section2 h2, #section1 h2{
    font-size: 16px;
  }

  .section2-article h3{
     font-size: 16px;
  }

  .section2-article P{
     font-size: 13px;
  }
}